li {
  list-style: none;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  background-color: #395697;
  line-height: 46px;
}

.logo a {
  color: white;
  font-family: serif;
}

.tabs {
  border-bottom: 1px solid grey;
  width: 100%;
  margin: 0 auto;
}

.tabs li {
  float: left;
  padding: 4px 4px;
  display: block;
}

.login {
  display: none;
}

.clearfix {
  overflow: hidden;
  content: '';
}

.storylist {
  line-height: 25px;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2px;
  margin: 6px auto;
  display: block;
  box-shadow: 1px 2px grey;
  border: 1px solid grey;
}

.storylist span {
  font-size: 10px;
  line-height: 20px;
}

.storylist a:hover {
  text-decoration: underline;
}

.comments:hover {
  text-decoration: underline;
}

.comments-overlay {
  position: fixed;
  top: 5%;
  left: 15%;
  width: 80%;
  background: white;
  border: 1px solid #efefef;
}
.singlecomment {
  margin: 0 0 0 10px;
}

.comments-overlay {
  overflow-y: scroll;
  height: 90%;
}
.commentlists {
  width: 80%;
  margin: 0px auto;
}
.titlecomments {
  margin: 10px auto;
  font-size: 16px;
}

.title {
  font-size: 24px;
  text-align: center;
  line-height: 45px;
  color: #395697;
  font-weight: bold;
}

.user {
  padding: 8px 0;
}

.userName {
  font-size: 12px;
  font-weight: bold;
  color: #395697;
}

.replies {
  color: #395697;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
}

.timecomment {
  color: rgb(255, 102, 0);
  font-size: 10px;
}

.comments-overlay li {
  font-size: 12px;
  margin: 10px 0;
  border-left: 1px solid grey;
  padding: 10px 20px;
}

.button_container {
  width: 95%;
  padding: 4px 8px;
  margin: 0 auto;
}

.button_right {
  width: 50%;
  float: right;
  text-align: right;
}

.button_right button {
  border: none;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  padding: 0 8px;
  line-height: 20px;
}

.button_right button:hover {
  opacity: 0.7;
}

.button_right button:disabled {
  background-color: #f1f1f1;
  opacity: 1;
  color: black;
}

.button_right span {
  display: inline-block;
  font-size: 14px;
  padding: 0 4px;
}

form {
  width: 500px;
  margin: 8px auto;
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-btn {
  background-color: #395697;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.register-row a {
  color: #395697;
  font-size: 16px;
  padding: 0 4px;
}
.register-row {
  padding: 4px 0;
  font-size: 12px;
}

.remember {
  font-size: 14px;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  background: url('../images/cross.png');
  width: 15px;
  border:none;
  height: 15px;
  float:right;
  background-size: cover;
}
.title-bar{
  width:100%;
  background-color: #f1f1f1;
}

.login-container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.pagenotfound {
  background: url(../images/PageNotFound.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  margin: 20px auto;
}

.pagenotfound button {
  border: none;
  margin: 20% 20%;
  line-height: 50px;
  width: 100px;
}

.required {
  font-size: 10px;
  color: red;
  padding: 8px 0;
}

.login-bottom {
  width: 100px;
  margin: 0 auto;
  padding: 8px 0px;
  text-align: center;
}

.login-bottom a {
  color: #395697;
  cursor: pointer;
}

.login-bottom a:hover {
  opacity: 0.7;
}

h2 {
  color: #395697;
  padding: 8px 0;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  body {
    position: relative;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .login {
    float: right;
    display: block;
    padding: 8px 20px 8px 0;
  }

  .dropbtn {
    background:url(../images/userIcon.png) no-repeat;
    background-position: left;
    background-size:18px 18px;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus {
    opacity:0.7;
    }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a,
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  .button_container {
    padding: 8px 8px;
  }

  .tabs h1 {
    background-color: #395697;
    color: white;
    line-height: 66px;
  }

  .stories li {
    padding: 0 8px;
    margin: 10px auto;
  }
  .tabs li {
    padding: 8px 20px 8px 0;
  }
}
